<header >
    <nav class="navbar w-full px-20 py-8 font-extrabold text-xl ">
        <div class="grid grid-flow-col grid-cols-2 ">
             <p class="w-full">N.D</p>
          <ul class="flex justify-between w-full cursor-pointer">
         
            <li [routerLink]="['/']">Inicio</li>
            <li [routerLink]="['/cabañas']">Cabañas</li>
            <li [routerLink]="['/experiencias']">Experiencias</li>
            <li [routerLink]="['/contacto']">Contacto</li>
            
         
          </ul>
        </div>
      </nav>
</header>
