<section class="containerSection md:h-screen h-full ">
    <div class=" flex h-full w-full items-center justify-center bg-black/40 ">
    <div class="grid justify-center items-center md:items-start mb-20 mt-32 text-white w-full md:px-52 px-24">
        <h1 class="md:text-6xl text-3xl  font-bold mb-4 textSlideInLeft " >¡Contactate con <br>Nosotros!:</h1>
        <p class="md:text-2xl text-base mb-6 font-medium textSlideInRight">
            Contáctanos para hacer tu reserva: Si deseas reservar tu estadía, consultar los precios por día o recibir una atención personalizada, no dudes en hablar con nosotros. Estaremos encantados de ayudarte a crear un presupuesto que se ajuste a tus necesidades y a brindarte la información que necesites para que tu experiencia sea única. ¡Esperamos tu mensaje para organizar todo y que disfrutes al máximo de tu estancia!        </p>

<div class="w-fit bg-black/40 backdrop-blur-sm rounded-lg popIn">

    <div class="grid md:text-2xl text-lg font-bold  p-5  ">
        <div class="flex"><i class="bi bi-envelope-at-fill"></i> <p> naturaldeluxe&#64;cabañas.com</p></div>
        <div class="flex">    <i class="bi bi-instagram"></i> <p>&#64; NaturalDeluxe-cabañas</p>
        </div>
        
        <div class="flex"><i class="bi bi-whatsapp"></i> <p> +123 456 7890</p></div>
        </div>
</div>            
</div>
  



</div>


</section>