<section class="containerSection">
<div class="flex flex-col w-full h-full  justify-center md:pl-52 items-center md:items-start bg-black/35  " >
    <h1 class="text-7xl md:text-9xl font-bold mx-8 md:mx-0 md:my-0 my-2 textUp" >Natural Deluxe</h1>
<h2 class="text-xl md:text-4xl  font-bold flex md:w-1/2 mx-8 md:mx-0 md:my-0 my-2 textUpDelay">Descansa y Disfruta en las Mejores Cabañas de Temporada</h2>
<app-custom-button [title]="cta" class="mt-10 up"></app-custom-button>

</div>

</section>


    







